#post.tableau-style {
  border-collapse: collapse;
  min-width: 60%;
  width: auto;
  box-shadow:  0 5px 50px rgba(0, 0, 0, 0.15);
  margin: 100px auto;
  border: 2px solid var(--primary);
}

#account.tableau-style {
  border-collapse: collapse;
  min-width: 60%;
  width: auto;
  box-shadow:  0 5px 50px rgba(0, 0, 0, 0.15);
  margin: 100px auto;
  border: 2px solid var(--secondary);
}

#post thead tr {
  background-color: var(--primary);
  color: #fff;
  text-align: left;
}

#account thead tr {
  background-color: var(--secondary);
  color: #fff;
  text-align: left;
}

th, td {
  padding: 15px 20px;
}

tbody tr, td, th {
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.square-card {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.square-card i {
  color: #fff;
  font-size: 50px;
}
